<!-- Just to build for mobile,Web port still works anywhere :) -->
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.steria773.lines"
    versionCode = "1"
    version     = "0.0.7" >

<!-- versionCode is optional and Android only -->

  <name>LINES!!!</name>

  <description>
      Port of LINES!!! game from GitHub.
  </description>

  <author href="https://github.com/Rabios" email="steria773@gmail.com">
      Rabia Alhaffar
  </author>

</widget>
